body{
    background-color: rgb(192, 192, 192);
    font-family: sans-serif;
}
.sessoes{
    margin: auto;
    width: 65%;
    background-color: rgb(204, 204, 204);
    padding: 10px;
    border-radius: 5px;
}
.sessao-foto{
    width: 82%;
    text-align: left;
    margin-left: auto;
}
    
.sessao-container{
    width: 25%;
    text-align: left;
    margin-left: 25px;
    display: inline-block;
    vertical-align: middle;
}
.sessao-navegador-containter{

    width: 30%;
    float: right;
    margin-right: 20%;
    margin-top: 40px;

}
.sessao-navegador{
    margin-right: 12%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
        
}
.navegador {
    width: 150px;
    line-height: 25px;
    text-decoration: none;
    text-align: left;
    border-radius: 7px; 
    font-weight: 800;
    color: black;    
    margin: auto;
    margin-top: 10px;
}
.picture{
  border-radius: 15%; 
  width: 200px;
  margin: 15px;
}
.word{
    vertical-align: auto;
}
 div.habilidades { 
        }
.button{
    background-color: rgb(102, 106, 134);
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 7px; 
}
.center{
    text-align: center;
    margin-top: 20px;
}
