body{
    background-color: rgb(241, 222, 222);
    font-family: sans-serif;
}
  .picture{
    border-radius: 15%; width: 200px;

}
.sessoes{
    background-color: rgb(153, 88, 42);
    padding: 10px;
    text-align: center;
    border-radius: 7px; 
}
.bcolor{
    background-color: rgb(194, 59, 59); 
    padding: 50px;
    border-radius: 10px;
        }
.navegador{
    background-color:rgb(89, 195, 195); 
    width: 150px;
    line-height: 25px;
    text-decoration: none;
    border-radius: 7px; 
    font-weight: 800;
    color: black;       
}
.button{
    background-color: rgb(102, 106, 134);
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 7px; 
}
.center{
    text-align: center;
}
